* {
  font-family: "gg_sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

/* Css Header */

header {
  text-align: center;
  color: white;
  background-image: url(../img-3/jumbo.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-inline: 15%;
}

header > * {
  padding: 30px;
}

/* Css Contenitori Header */
.container-nav {
  display: flex;
  justify-content: space-around;
}

.container-header {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  gap: 15px;
}

/* CSS Link Superiori */
.Link {
  display: flex;
  gap: 20px;
}

.Link > *,
.login > * {
  text-decoration: none;
  color: white;
  font-size: 12pt;
}

.login > * {
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 12pt;
  border-radius: 50px;
}

.title-header {
  font-size: 30pt;
}

.text-header {
  font-size: 14pt;
}

.button-1,
.button-2 {
  display: inline-block;
  padding: 10px;
  font-size: 12pt;
  border-radius: 50px;
}

.button-1 {
  background-color: white;
  color: black;
  border: none;
}

.button-2 {
  background-color: #23272a;
  color: white;
  border: none;
}


/* Css Sezioni Principali */

.container-main-1,
.container-main-2,
.container-main-3,
.container-main-4,
.bd-gray,
.bd-gray-2 {
padding: 10% 20%;
}



.container-main-1 {
  display: flex;
}

.bd-gray{
  background-color: #f6f6f6;
  mask-image: url(../img-3/wave.svg);
}


.bd-gray-2{
  background-color: #f6f6f6;
  mask-image: url(../img-3/wave.svg);
  mask-position: bottom;
  transform: rotate(180deg);
}


.container-main-2 {
  background-color: #f6f6f6;
  display: flex;
}


.container-main-3 {
  display: flex;
}

.container-main-4 {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
}

/* Css Blocchi Interni */

.block-txt {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 40%;
}

.block-txt > h2 {
  font-size: 40pt;
}

.block-txt > p {
  font-size: 20pt;
  line-height: 45px;
}

.block-single {
  background-color: rgb(103, 113, 103);
  height: 80%;
  width: 60%;
}

.container-main-4 {
  text-align: center;
}

.block-txt-center {
  display: flex;
  flex-direction: column;
  font-size: 15pt;
  line-height: 25px;
  gap: 50px;
}

.block-txt-center > h2 {
  font-size: 40pt;
  line-height: 50px;
}

.block-txt-center > h3 {
  background-image: url(../img-3/stars.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height: 50px;
  align-content: center;
}

div > button {
  margin: 5%;
  font-size: 15pt;
  color: white;
  background-color: #7189da;
  padding: 15px;
  border-radius: 50px;
  border: none;
}

/* CSS Footer */

footer {
  display: flex;
  background-color: #23272a;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* Css Blocco Principale */

.social {
  display: flex;
  flex-direction: row;
  display: flex;
  gap: 5px;
}

.first {
  width: 80%;
  height: auto;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.language {
  display: flex;
  gap: 10px;
}
.language > img {
  width: 30px;
  height: auto;
}

.social > * {
  width: 15px;
  height: auto;
}

.link-social,
.prodotto,
.compagnia,
.risorse,
.norme {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: calc(100% / 5);
}

.first-row {
  color: #587ad6;
}

h6 {
  font-size: 12pt;
}

/* Css Blocco Secondario */
hr {
  width: 80%;
  border: 1px solid #7189da;
}

.second {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.signin {
  font-size: 8pt;
  color: white;
  background-color: #7189da;
  padding: 10px;
  border-radius: 50px;
  border: none;
}


